<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".data" mimeType="photomaker/data" />
            <mimeMap fileExtension=".mem" mimeType="photomaker/mem" />
            <mimeMap fileExtension=".bc" mimeType="photmaker/bc" />
            <mimeMap fileExtension=".woff" mimeType="application/octet-strean" />
        </staticContent>
    </system.webServer>
</configuration>
