/* Стили для кастомных кнопок в системе */
/*Экран - Кредитный калькулятор*/
button[data-display="Новый расчет"]
{
	margin-left: 15px !important;
	background: #4f7cbd;
	font-size: 14px;
}
button[data-display="Рассчитать"]
{
	background: #4f7cbd;
	font-size: 14px;
}
button[data-display="Сформировать ПФ"]
{
	background: #EA8823;
	font-size: 14px;
}
button[data-display="Оформить заявку"]
{
	margin: 0 0 0 50px;
	background: #338A67;
	font-size: 14px;
}
div[title="Параметры запрашиваемого кредита Аплет формы"] span[id="MonthPayReq_Label"]
{
	font-size: 10pt;
	font-weight: bold !important;
}
/*##########################################*/
/*Экран - Проверка заявки*/
button[data-display="Проверено, перейти к следующей"]
{
	background: green;
	width: 188px;
	height: 40px;
	font-size: 8.5pt;
}
button[data-display="Проверено, перерыв"]
{
	background: red;
	width: 188px;
	height: 40px;
	font-size: 8.5pt;
}
/*##########################################*/
/*Кнопки плэйбара в тасках.*/
button[data-display="Сохранить и выйти"],
button[data-display="Назад"],
button[data-display="Далее"]
{
	background: #4f7cbd;
	width: 100px;
	height: 40px;
	font-size: 8.5pt;
}
button[data-display="Отмена заявки"]
{
	background: red;
	width: 100px;
	height: 40px;
	font-size: 8.5pt;
}
button[data-display="Завершение"]
{
	background: №4f7cbd;
	width: 100px;
	height: 40px;
	font-size: 8.5pt;
}
/*##########################################*/
/*CallCenter*/
button[data-display="Уведомления"]
{
	width: 160px;
	height: 30px;
	font-size: 9pt;
	font-weight: bold;
	background: #FF8000;
}
button[data-display="Предложения"]
{
	width: 160px;
	height: 30px;
	font-size: 9pt;
	font-weight: bold;
	background: blue;
}
button[data-display="Подтвердить тематику"],
button[data-display="Завершить активность"]
{
	width: 160px;
	height: 60px;
	font-size: 9pt;
	font-weight: bold;
}
button[data-display="Подтвердить тематику"],
button[data-display="Выполнить операцию"],
button[data-display="Изменить код доступа"],
div[title="Запрос графика платежей Аплет формы"] button[data-display="Запрос графика платежей"],
div[title="Операции Аплет формы"] button[data-display="Подтвердить тематику"],
button[data-display="Отправить"],
button[data-display="Заблокировать"],
button[data-display="Изменить PIN"]
{
	background: green;
}
button[data-display="Завершить активность"]
{
	background: red;
}
button[data-display="Выполнить"],
button[data-display="Подтвердить"]
{
	margin-top: 15px;
	background: green;
}
button[data-display="Карточка клиента"]
{
	margin-top: 15px;
	background: blue;
}
button[data-display="Отказ клиента"]
{
	margin-top: 15px;
	background: red;
}
/*CallCenter Кнопки Тематики*/

button[data-display="Новая заявка"],
button[data-display="Продолжение заявки"],
button[data-display="Расчет суммы <br>досрочного погашения"],
button[data-display="Печать локальной карты"],
button[data-display="Погашение до 15000"],
button[data-display="Изменение кода доступа"],
div[title="Тематики Аплет формы"] table[class="GridBack"] button[data-display="Запрос графика платежей"]
{
	margin: 25px;
	width: 190px;
	height: 70px;
	font-size: 10pt;
	font-weight: bold;
}
div[title="Тематики Аплет формы"] table[class="GridBack"]
{
	margin: 0 auto;
}
button[data-display="Изменить код доступа"]
{
	background: #89c843;
}